.battle-header {
    color: black;
    padding: 1rem;
    text-transform: uppercase;
}

.battle-header div {
    font-size: xx-large;
    font-weight: bolder;
}

.battle-header span {
    font-size: medium;
    font-weight: bold;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.battle-container {
    background-color: whitesmoke;
    font-family: "Arial";
}

.footer {
    width: 100%;
    height: 60px;
}

.footer-element {
    text-align: center;
    line-height: 60px; /* Must be same as footer height to center vertically */
    float: left; /* Used to align in a row */
    width: 33%;
}

.main-container {

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.flex-row {
    width: 100%;
    display: flex;
    padding: 0.5rem 1rem;
}

.flex-item {
    flex-grow: 1;
    border: red solid 1px;
}

.flex-item-key {
    width: 33%;
    font-weight: bold;
}

.flex-item-value {
    width: 66%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flag-icon {
    border: black solid 1px;
    margin-right: 0.25em;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}